.employee__card {
  position: relative;
  width: 100%;
  box-shadow: rgb(241, 243, 245) 0px 5px 20px;
  border: none;

  .card__btns {
    display: flex;
    align-items: center;
    gap: 12px;

    .card__btn {
      padding: 8px 12px;
      height: unset;
      line-height: 1.2;
      width: 90px;
    }
  }

  .employee__wrapper-table {
    height: 500px;
    overflow: scroll;
    margin-bottom: 24px;
  }

  .ant-table-thead > tr > th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff; /* Thay đổi màu nền nếu cần */
  }
}

:where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  position: relative;
  font-size: 12px;
  color: #687078;
  padding: 3px 10px;
  overflow-wrap: break-word;
  background: rgb(248, 249, 250);
  transition: background 0.2s, border-color 0.2s;
  border: 1px solid white;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-table-wrapper
  .ant-table-thead
  > tr
  > th {
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 600;
  display: table-cell;
  vertical-align: inherit;
  text-align: left;
  color: rgb(17, 24, 28);
  z-index: 2;
  border: 1px solid white;
  background-color: rgb(236, 238, 240) !important;
}
