:root {
  --main-color: rgb(0, 145, 255);
  --text-color: #11181c;

  --bg-white: #ffffff;
  --bg-black: #222222;
  --bg-body: rgb(248, 249, 250);

  --border-color: #cacaca;

  --height-header-pc: 60px;
  --width-sider: 329px;

  --box-shadow: 0 0 3px #eceef0;
  --border-radius-lg: 8px;
  --border-radius-md: 3px;

  --font-family: "Montserrat", sans-serif;
}
