.wrapper-footer {
  background-color: transparent;
  padding: 32px 0;

  .footer__content {
    margin: 0px;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
    color: rgb(104, 112, 118);
    text-align: center;
  }
}
